@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
  background-image: url("https://cdn.spacetelescope.org/archives/images/screen/heic0910n.jpg");
  background-color: #303030;
  background-position: center;
  background-attachment: fixed;
}

h2 {
  font-size: 2.5em;
}

h3 {
  text-align: center;
  font-size: 1.75em;
  color:white;
}

.section {
  align-content: center;
  text-align: center;
}

#header {
  display: none;
}

#user-input {
  height: 1;
}

#search-results {
  text-align-last: center;
}

.is-hidden {
  display: none;
}

.historyButton{
  border-radius: 10px;
}

.historyButton:hover{
  border-radius: 10px;
  opacity: .5;
}

.footer {
  background-color: unset;
  padding: 3rem 1.5rem 4rem;
  color: white;
}